*,
::before,
::after {
    box-sizing: border-box;
}
.header {
    display: flex;
    padding: 20px;
    background: rgb(216, 196, 17);
    justify-content: space-between;
    align-items: center;
}
.menu {
flex-grow: 1;
}
.menu ul {
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}
.menu li {
    margin-left: 10px;  
}
.menu a {
    text-decoration: none;
    font-weight: bold;
    color: black;
    transition: color 0.2s linear;
}
.menu a:hover {
    color: rgba(1, 127, 200, 0.979);
    cursor: pointer;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.main {
    display: flex;
    text-align: center;
    flex-grow: 1;
}
.main aside {
    min-width: 210px;
    text-align: center;
    padding: 10px;
}
.main p:first-child {
    padding: 10px;
}
.main aside:nth-child(2) {
    background-color: rgb(199, 147, 199);
    order: -1;
}
.main aside:nth-child(3) {
    background-color: rgb(139, 163, 235);
}
.footer {
    background-color: rgb(95, 235, 155);
    text-align: center;
}
.content {
    display: flex;
    flex-direction: column;
}
.content h1:first-child {
    text-transform: uppercase;
}
.content p:nth-child(2) {
    order: -1;
    flex-grow: 1;
}
.card {
    display: flex;
    margin: 10px;
    flex-direction: column;
    width: calc(33.33% - 20px);
    margin: 10px; 
    border: gray solid 1px;
    border-radius: 40px;
    padding: 15px;
    align-items: center;
    transition: linear 0.2s;
}
.card:hover {
    background-color: rgb(237, 247, 250);
}
.text {
    flex-grow: 1
}
.card img {
    width: 100px;
    height: 100px;
    border: rgb(120, 154, 233) solid 10px;
    border-radius: 90px;  
}
.button a{
    background-color: rgb(30, 89, 156);
    border-radius: 20px;
    color: ivory;
    padding: 5px 20px;
    transition: linear 0.2s;
    text-decoration: none;
}
.button a:hover {
    cursor: pointer;
    background-color: rgb(71, 138, 182);
}
.allcard {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
}
.holder {
    display: flex;
    flex-wrap: wrap-reverse;
    margin: 20px 10px;
    border: black solid 2px;
    font-weight: bold;
    border-radius: 15px 16px 0 0;
    overflow: hidden;   
}
.item {
    min-width: 33.33%;
    text-align: center;
    padding: 10px 20px;
}
.holder .item:first-child {
    background-color: coral;
    order: 4;
    flex-grow: 1;
}
.holder .item:nth-child(2) {
    background-color: cornflowerblue;
    order: 2;
    flex-grow: 1;
}
.holder .item:nth-child(3) {
    background-color: darkviolet;
    order: 1;
    flex-grow: 1;
}
.holder .item:nth-child(4) {
    background-color: green;
    order: 3 ;
    flex-grow: 1;
}
.holder .item:last-child {
    background-color: orange;
    order: 5;
    flex-grow: 1;
}